*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #e0e0e0;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #161b33;
  height: 80px;
  padding: 20px 10px 15px 0;
}

.logo {
  display: inline;
  margin-left: 10px;
  color: #a69cac;
  font-size: 30px;
  font-family: 'Kumar One Outline', cursive;
  text-transform: capitalize;
  border: 1px solid #a69cac8f; 
  border-right: none;
  border-top: none;
  border-radius: 50px 50px 50px 0;
  background: #a69cac17;
}

.logo span {
  font-size: 25px;
  color: #ffffff3d;
}

.nav-link {
  display: none;
}

#hamburger-menu {
  float: right;
  margin-top: -45px;
  font-size: 30px;
  color: #a69cac;
  cursor: pointer;
  border: none;
  transition: .3s;
}

#hamburger-menu:hover {
  color: #bfdbf7;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #0d0c1d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #a69cac;
  border-bottom: 1px solid #a69cac;
  border-radius: 1px;
  display: block;
  transition: 0.3s;
}

.sidebar a:last-child {
  border: none;
}

.sidebar a:hover {
  color: #e1e5f2;
}

#page {
  position: relative;
  transition: margin .5s;

}

.page-body {
  min-height: calc(100vh - 130px);
  text-align: center;
  padding: 15px;
}

.page-body h1 {
  margin-bottom: 20px;
  color: #0d1b2a;
}

.page-body p {
  font-size: 22px;
  margin: 0 10px 0 10px;
  color: #0d1b2a;
}

.landing-page {
  padding: 0 0 20px 0;
}

.body-image {
  height: 350px;
  width: 100%;
  background: linear-gradient(#1f2d747a,#161b335a), url('../img/banka.jpg') no-repeat center center fixed;
  background-size: cover;
  Padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-image h1{
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
}

.body-text{
  margin-top: 20px;
}

.box {
  max-width: calc(100vw - 50px);
  margin: 20px auto auto;
  background: #d1cbd4;
  border-radius: 10px;
  padding: 25px 15px 15px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.page-body #start {
  color: #e0e0e0;
  background: #0d1b2a;
  border: 1px solid #1b263b;
  border-radius: 50px;
  height: 45px;
  width: 120px;
  padding: 5px;
}

.page-body #start:hover {
  color: #e0e0e0;
  background: #133253;
}

.box h2{
  font-size: 18px;
  margin-left: 0;
}

.form-title {
  float: left;
  font: Helvetica;
  font-size: 20px;
  color: #161b33;
  margin-bottom: 5px;
}

.log-in {
  margin-top: 10px;
}

.form-segment {
  margin: 5px 0 10px 0;
}

.form-label {
  float: left;
  color: #474973;
}

.form-input {
  background-color: transparent;
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom: 1px solid #a69cac;
  padding: 10px;
}

input:focus {
  outline: none;
  transition: border 1.5s;
  border-bottom: 1px solid #0d0c1d;
}

input::placeholder {
  color: #47497379;
  font-style: italic;
}

 .switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: left;
}

.account-operations .switch {
  margin-left: 25%;
  margin: 10px 0 0 25%;
}

.account-operations .item-label {
  color: #ff000069;
  font-size: 12px;
  font-style: italic;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #a69cac;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #474973;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  border: 1px solid #161b33;
}

.slider.round:before {
  border-radius: 50%;
}

.instruction {
  color: #ff00007c;
  font-style: italic;
}

.submit-btn {
  height: 45px;
  width: 100%;
  color: #a69cac;
  background-color: #0d0c1d;
  border: 1px solid #0d1b2a;
  border-radius: 10px;
  margin-top: 10px;
  transition: .5s;
}

.submit-btn:hover{
  background-color: #1b263b;
}

.forgot-p {
  display: inline-block;
  margin-top: 20px;
  color: #474973;
  text-decoration: none;
}

.profile,
.admin {
  padding: 0;
}

.profile-header {
  padding: 1px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #a69cacab, #f1dac4ab); 
}

#user-photo {
  width: 150px;
  height: 150px;
  margin: 15px auto;
  border: 2px solid #161b33;
  border-radius: 50%; 
  overflow: hidden;
}

#user-photo img {
  width: 150px;
  height: 150px;
  display: block;
}

#user-name {
  color: #161b33;
}

.tab {
  overflow: hidden;
  background-color: inherit;
}

.tab button {
  background: none;
  border: none;
  border-bottom: 1px solid #474973;
  color: #161b33;
  font-size: 16px;
  width: 32%;
  height: 35px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.admin .tab button {
  width: 48%;
}

.tab button:last-child {
  border-right: none;
}

.tab button:hover {
  background: rgba(255, 255, 255, 0.212);
  border-bottom: 2px solid #474973;
}

.tab button.active {
  background-color: #a69cac;
  border-bottom: 3px solid #0d0c1d;
}

button::-moz-focus-inner { 
  border: 0; 
}

.tabcontent {
  margin-top: 5px;
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.profile-item {
  background: #a69cac;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: column;
}

.transaction-item {
  background: #a69cac;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  margin: 0 0 15px 0;
  display: flex;
}

.account-item {
  background: #a69cac;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: space-around;
}

.bal span.item-content{
  color: green;
  font-size: 18px;
}

.credit {
  color: green;
}

.debit {
  color: red;
}

.transaction-item.item-content{
  margin-right: 10px;
}

.item-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #161b33;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
}

.item-content {
  font-size: 16px;
  color: #474973;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
}

#create {
  position: fixed;
  bottom: 55px;
  right: 15px;
  color: #e0e0e0;
  font-size: 30px;
  background: #0d1b2a;
  border: 1px solid #1b263b;
  box-shadow: 5px 5px 15px -5px rgb(0, 0, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  transition: 1s;
}

#create:hover {
  color: #e0e0e0;
  background: #474973;
  border: 1px solid #474973;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 30% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
}

.close {
  color: #778da9;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #1b263b;
  text-decoration: none;
  cursor: pointer;
}

.admin-item {
  background: #a69cac;
  height: auto;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.admin-btn {
  height: 45px;
  width: 100%;
  color: #a69cac;
  background-color: #161b33;
  border: 1px solid #0d1b2a;
  border-radius: 10px;
  margin-top: 10px;
  transition: .5s;
}

.admin-btn:hover{
  color: #161b33;
  background-color: #474973;
}

.accounts {
  background: #a69cac;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
  margin: 0 0 30px 0;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.911);
}

.user-accounts {
  background: #a69cac;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
  margin: 0 0 30px 0;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.911);
}

.accounts .item-label {
  margin-bottom: 3px;
}

.accounts .item-content {
  margin-bottom: 5px;
}

.accounts .active,
.user-accounts .active {
  color: green;
  text-transform: uppercase;
}

.accounts .dormant,
.user-accounts .dormant {
  color: red;
  text-transform: uppercase;
}

.accounts .balance {
  color: green;
  font-size: 20px;
}

.accounts .balance-dormant{
  font-size: 20px;
  color: red;
}

.accounts .admin-btn {
  width: 100% !important;
  color: #a69cac;
}

.accounts-flex {
  display: flex;
}

.account-details {
  flex: 3;
}

.account-operations {
  flex: 1;
}

.account-operations .delete {
  height: 45px;
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.911);
  border-radius: 10px;
  margin-top: 10px;
  transition: .3s;
}

.account-operations .details {
  height: 45px;
  width: 100%;
  color: #a69cac;
  font-size: 15px;
  background-color: #161b33;
  border: 1px solid #161b33;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.911);
  border-radius: 10px;
  margin-top: 10px;
}

.modal-content p {
  text-align: center;
  margin-top: 30px;
}

.danger {
  background-color: #ff0000;
  color: #ffffff;
}

.danger:hover {
  background-color: #810505;
}

.staff .transaction {
  height: 45px;
  width: 50%;
  color: #c0c0c0;
  font-size: 20px;
  background-color: #161b33;
  border: 1px solid #161b33;
  border-radius: 10px;
  margin: 0 0 10px 0;
  transition: .5s;
  padding: 5px;
}

.staff .transaction:hover{
  background-color: #474973;
  border-color: #474973;
}

footer {
  padding: 18px;
  position: absolute;
  bottom: -50px;
  width: 100%;
  color: #e1e5f2;
  text-align: center;
  background-color: #161b33;
  height: 50px;
}

/*############### END OF MOBILE RULES ##################*/

/*############### MEDIUM SCREEN RULES ##################*/

@media only screen and (min-width: 768px) {
  .header-links {
    margin-top: -35px;
    float: right;
  }

  .nav-link {
    display: inline-block;
    text-align: center;
    color: #e0e0e0;
    text-decoration: none;
    text-transform: capitalize;
    margin: -60px 5px 0 0;
    padding: 8px 3px 3px 3px ;
    background-color: #1b263b;
    border: 2px solid #778da9;
    border-radius: 50px;
    width: 120px;
    height: 45px;
    transition: .5s;
  }

  .nav-link p {
    margin-top: 5px;
  }
  
  .nav-link:hover {
    background-color: #133253;
  }

  #hamburger-menu {
    display: none;
  }

  .box {
    max-width: 700px;
  }

  .submit-btn {
    width: 30%;
  }

  .forgot-p {
    display: block;
  }

  #user-photo {
    width: 180px;
    height: 180px;
  }
  
  #user-photo img {
    width: 180px;
    height: 180px;
    display: block;
  }

  .profile-item {
    margin-bottom: 10px;
    height: auto;
    padding: 20px;
  }

  .item-label {
    font-size: 15px;
  }
  
  .item-content {
    font-size: 18px;
  }

  .modal-content {
    text-align: center;
    margin: 20% auto;
    width: 70%;
  }

  .accounts {
    width: 30%;
    display: inline-block;
    margin: 15px;
  }

  .landing-page img {
    margin: -10px !important;
    width: 100%;
    height: 450px;
  }
}

/*############### END OF MEDIUM RULES ##################*/

/*############### LARGE SCREEN RULES ##################*/

@media only screen and (min-width: 1000px) {
  .header-links {
    margin-top: -35px;
    float: right;
  }

  .nav-link {
    display: inline-block;
    text-align: center;
    color: #e0e0e0;
    text-decoration: none;
    text-transform: capitalize;
    margin: -60px 5px 0 0;
    padding: 8px 3px 3px 3px ;
    background-color: #1b263b;
    border: 2px solid #778da9;
    border-radius: 50px;
    width: 120px;
    height: 45px;
    transition: .5s;
  }

  .nav-link p {
    margin-top: 5px;
  }
  
  .nav-link:hover {
    background-color: #133253;
  }

  #hamburger-menu {
    display: none;
  }

  .landing-page {
    padding: 20px 0 20px 0;
  }

  .body-image {
    margin-top: -20px;
    height: 400px;
    background: linear-gradient(#1f2d747a,#161b335a), url('../img/banka.jpg') no-repeat center center fixed;
    background-size: cover;
    Padding: 20px;
  }

  .body-image h1 {
    font-size: 5rem;
  }


  .body-text {
    margin-top: 10px;
  }

  .box {
    max-width: 700px;
  }

  .submit-btn {
    width: 30%;
  }

  .forgot-p {
    display: block;
  }

  #user-photo {
    width: 200px;
    height: 200px;
  }
  
  #user-photo img {
    width: 200px;
    height: 200px;
    display: block;
  }

  .profile-item {
    margin-bottom: 5px;
    height: auto;
    overflow: auto;
  }

  .item-label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .item-content {
    font-size: 17px;
  }

  .modal-content {
    text-align: center;
    margin: 10% auto auto auto;
    width: 60%;
  }

  .admin-item {
    flex-direction: row;
    height: auto;
  }

  .admin-item .item-content {
    flex: 1;
  }
  
  .admin-btn {
    margin-bottom: 5px;
  }

  .accounts .admin-btn {
    width: 25%;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.911);
  }

  .account-operations .switch {
    margin: 20px 0 0 25%;
  }

  .accounts {
    width: 22%;
    display: inline-block;
    margin: 15px;
  }
  .user-accounts {
    width: 30%;
    display: inline-block;
    margin: 15px;
  }

  .account-operations .delete {
    width: 45%;
    float: right;
  }
  
  .account-operations .details {
    width: 45%;
    float: left;
  }

  .staff .transaction {
    width: 35%;
  }
}
